extends layout

block content
  h1= title
  p Udfyld formularen herunder for at tilmelde dig begivenheden.

  // Viser hvilken begivenhed man tilmelder sig
  if event
    h2= event.evnt_name
    small Virksomhed: #{event.company_name}
    hr

  form(action='/registration/' + eventId method='POST')
    // Deltagerens navn
    div.form-group
      label(for='full_name') Fulde navn:
      input(type='text' name='full_name' id='full_name' required placeholder='Fx Mads Jensen')


    div.form-group
      label(for='phone') Telefonnummer:
      input(type='tel' name='phone' id='phone' required placeholder='Fx 22557799')

    div.form-group
      label(for='email') Email:
      input(type='email' name='email' id='email' required placeholder='din@email.dk')

    div.form-group
      label(for='event_date') Dato for begivenhed:
      input(type='date' name='event_date' id='event_date' required)

    div.form-group 
        label
            input(type='checkbox' name='sms_reminder' value='1')
            |  Jeg ønsker at modtage en SMS påmindelse dagen før begivenheden.
    input(type='hidden' name='eventId' value=eventId)

    button.button(type='submit') Tilmeld

  br
  a(href='/review') Tilbage til oversigten
extends layout

block content
  h1 Opret ny profil
  form(action='/auth/register' method='POST')
    div
      label(for='email') Email:
      input(type='email' name='email' id='email' required)
    div
      label(for='first_name') Fornavn:
      input(type='text' name='first_name' id='first_name' required)
    div
      label(for='password') Adgangskode:
      input(type='password' name='password' id='password' required)
      p Mindst 8 tegn, 1 stort bogstav og 1 tal
    button(type='submit') Opret profil
  if error
    p(style='color:red')= error
  a(href='/auth/login') Tilbage til login
